/* ========================== */
/*      BASE COLOR PALETTE    */
/* ========================== */
@define-color color0  #161320;
@define-color color1  #bd93f9;
@define-color color2  #FAE3B0;
@define-color color3  #B5E8E0;
@define-color color4  #F8BD96;
@define-color color5  #ABE9B3;
@define-color color6  #DDB6F2;
@define-color color7  #96CDFB;
@define-color color8  #F28FAD;
@define-color color9  #E8A2AF;
@define-color color10 #89DCEB;
@define-color color11 #E9EBFF;
@define-color color12 #F2CDCD;
@define-color color13 #262233;

/* ========================== */
/*     NAMED COLOR MAPPINGS   */
/* ========================== */
@define-color background-main @color0;

@define-color fg-default    @color1;
@define-color fg-active     @color5;
@define-color fg-hover      @color2;
@define-color fg-urgent     @color1;

/* ========================== */
/*         BASE STYLES        */
/* ========================== */
* {
  border: none;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 16px;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @color0;
}


tooltip {
  margin: 6px;
  border-radius: 10px;
 background: @color13;
}

.module,
label.module,
box.module {
  color: @fg-default;
  border-radius: 0px;
  padding: 0px 0.5em;
  margin: 0;
  transition: none;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

/* Active, hover, urgent */
.module:hover {
  color: @fg-hover;
}

#network {
  color: @color6;
}

#pulseaudio {
  color: @color10;
}

#clock {
  color: @color5;
}

#memory {
  color: @color8;
}

#cpu {
  color: @color7;
}

#tray {
  color: @color3;
  padding: 0 2em;
}

#custom-launcher {
  color: @color7;
  font-size: 24px;
  padding-right: 18px;
}

#custom-notification {
  color: @color7;
  font-size: 20px;
  padding-right: 20px;
}

#custom-power {
  color: @color8;
  font-size: 20px;
  padding-right: 22px;
}

#custom-nvidia {
  color: @color5;
}

#custom-media {
  color: @color12;
  font-size: 12px;
}

#custom-fullscreen {
  color: @color5;
}

#taskbar button,
#workspaces button {
  color: @color3;
  font-size: 13px;
  border-radius: 8px;
  padding: 0 0.8em;
}

#taskbar button.active,
#workspaces button.active {
  color: @color1;
}
