[Unit]
Description=EasyEffects
Wants=pipewire-pulse.service
After=pipewire-pulse.service
BindsTo=pipewire-pulse.service
PartOf=pipewire-pulse.service

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/YOUR_USERNAME/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Restart=always
ExecStart=/usr/bin/easyeffects --gapplication-service
StartLimitInterval=0

[Install]
WantedBy=default.target

